---
import FadeInAnimation from "@/components/gloz/FadeInAnimation";
import { Card} from "@/components/ui/card";

interface Props {
  colSpan: string;
  rowSpan: string;
  name: string;
  createdOn: Date;
  thumbnail: string;
}

const { colSpan, rowSpan, name, thumbnail } = Astro.props;
---

<div class={`${colSpan} ${rowSpan}`}>
  <FadeInAnimation client:visible>
    <Card className="aspect-square rounded-3xl relative overflow-hidden bg-secondary border-0">
      <div
        class="absolute top-0 w-full h-full bg-cover bg-center transition-all bg-clip-content px-[10%] pt-[10%] pb-[20%] hover:p-0"
        style={{ backgroundImage: `url(${thumbnail})` }}
      >
        <div class="absolute top-0 left-0 w-full h-full grid grid-cols-2 p-4 content-end">
          <div class="text-white mix-blend-difference">
            <p class="text-3xl">
              {name}
            </p>
          </div>
        </div>
      </div>
    </Card>
  </FadeInAnimation>
</div>
