---
import WreathLeftIcon from '@/components/apple/WreathLeftIcon';
import WreathRightIcon from '@/components/apple/WreathRightIcon';

---

<div class="flex">
    <WreathLeftIcon className="h-36 text-white" />
    <div class="h-full flex flex-col items-center justify-center">
        <slot />
    </div>
    <WreathRightIcon className="h-36 text-white " />
</div>