---
import StaggeredTextAnimation from "@/components/gloz/StaggeredTextAnimation";
---

<section class="bg-gradient-to-r from-yellow-400 via-pink-400 to-violet-400">
  <div class="bg-gradient-to-t from-neutral-900 to-30%">
    <div class="relative isolate px-6 pt-14 lg:px-8">
      <div class="mx-auto max-w-7xl py-32 sm:py-48 lg:pt-24 lg:pb-56">
        <div class="w-full">
          <StaggeredTextAnimation className="justify-center" client:load text="Doodle" />
          <img src="/images/hero.png" alt="Hero" class="mt-8 mx-auto" />
          <StaggeredTextAnimation className="justify-center text-4xl" client:load text="Every line tells a story." />
        </div>
      </div>
    </div>
  </div>
</section>
