---
import Layout from '@/layouts/Layout.astro';

import Hero from './Hero.astro';
import Kudos from './Kudos.astro';
import Features from './Features.astro';
import Product from './Product.astro';
import Tools from './Tools.astro';
import Reviews from './Reviews.astro';
---

<Layout title="Every line tells a story.">
	<main>
		<Hero/>
		<Features />
		<Product />
		<Kudos />
		<Reviews />
		<Tools />
	</main> 
</Layout>

