---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '@/styles/globals.css'
import Hero from './landing/Hero.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Hero/>
		<p>Hello</p>
	</main>
</Layout>

