---
import Layout from "@/layouts/Layout.astro";

import Hero from "./Hero.astro";
import Download from "./Download.astro";
import Features from "./Features.astro";
import Product from "./Product.astro";
import Tools from "./Tools.astro";
import Reviews from "./Reviews.astro";
---

<Layout title="Doodle Drawing App">
  <main>
    <Hero />
    <Features />
    <Product />
    <Reviews />
    <Tools />
    <Download />
  </main>
</Layout>
