---
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card"

var tools = [
    {
        name: "Pencil",
        image: "/images/tools/pencil.png",
        color: "bg-gradient-to-r from-yellow-400 to-amber-400",
    },
    {
        name: "Pen",
        image: "/images/tools/pen.png",
        color: "bg-gradient-to-r from-amber-400 to-orange-400",
    },
    {
        name: "Monoline",
        image: "/images/tools/monoline.png",
        color: "bg-gradient-to-r from-orange-400 to-red-400",
    },
    {
        name: "Marker",
        image: "/images/tools/marker.png",
        color: "bg-gradient-to-r from-red-400 to-rose-400",
    },
    {
        name: "Fountain Pen",
        image: "/images/tools/fountain-pen.png",
        color: "bg-gradient-to-r from-rose-400 to-pink-400",
    },
    {
        name: "Watercolor",
        image: "/images/tools/watercolor.png",
        color: "bg-gradient-to-r from-pink-400 to-fuchsia-400",
    },
    {
        name: "Crayon",
        image: "/images/tools/crayon.png",
        color: "bg-gradient-to-r from-fuchsia-400 to-purple-400",
    },    {
        name: "Eraser",
        image: "/images/tools/eraser.png",
        color: "bg-gradient-to-r from-purple-400 to-violet-400",
    },    {
        name: "Selection",
        image: "/images/tools/selection.png",
        color: "bg-gradient-to-r from-violet-400 to-indigo-400",
    },
]

---
<section class="mx-auto mt-32 max-w-7xl px-6">
    <p>Tools</p>
    <div class="grid grid-cols-9">
        {tools.map((tool) => (
            <Card className="bg-clear text-white border-0">
                <CardContent>
                    <CardTitle>
                        <div class={`mb-6 flex h-24 w-24 items-center justify-center rounded-3xl overflow-hidden pt-24 ${tool.color}`}>
                            <img src={tool.image} alt={tool.name} />
                        </div>
                    </CardTitle>
                    <CardDescription>{tool.name}</CardDescription>
                </CardContent>
            </Card>
        ))}
    </div>
</section>

